@{
    ViewBag.Title = "À propos";
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>Garage MarqueOpen, une satisfaction client depuis 1948</h3>

<p>
    C’est en 1948 qu’a vu le jour le garage MarqueOpen, fondé par Vincent Robin. Depuis plusieurs générations, la concession n’a cessé de se développer et de proposer des services toujours plus performants et adaptés aux besoins du client.
</p>
<p>
    Etre à l’écoute du client et de ses attentes, Aurélien Robin et l’ensemble de l’équipe en ont fait une véritable vocation. Cela passe notamment par un ensemble de valeurs que la concession de Havelange met en œuvre chaque jour. 
</p>
