@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<hr />
<h3>@ViewBag.Message</h3>

<address>
    MarqueOpen<br />
    Rue de hiettine, 16<br />
    5370 HAVELANGE, BELGIUM<br />
    <abbr title="Phone">Téléphone:</abbr>
    083/63.45.39
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@marqueopen.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@marqueopen.com</a>
</address>